.card {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: rgb(197, 204, 206);
  margin-bottom: 1rem;
}

.info {
  font-size: large;
  font-weight: bold;
}

.success {
  color: green;
}

.danger {
  color: rgb(163, 1, 1);
}

.hobbies {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: darkgray;
}

.hobbies h4 {
  font-size: large;
  margin: auto;
}

.hobbies ul {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  list-style-type: none;
}
